html {
  font-family: arial, sans-serif;
}

#main {
  text-align: center;
  margin-top: 250px;
}

#search_bar {
  box-shadow: 10px, 10px, gray;
  border-radius: 2px;
  line-height: 34px;
  background-color: transparent;
  padding: 5px, 8px, 0, 16px;
}

header, footer {
  height: 25px;
}

#search_button {
  height: 30px;
  line-height: 25px;
  font-weight: bold;
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  color: gray;
  text-align: center;
  border-radius: 2px;
  margin: 4px;
}

.container header #left-header {
  float: left;
  padding-left: 0px;
  padding-top: 0px;
}

.container header #left-header a {
  font-size: 14px;
  color: black;
  text-decoration: none;
  display: inline-block;
  padding-left: 14px;
  opacity: 0.75;
}

.container header #right-header {
  float: right;
  padding-right: 0px;
  padding-top: 0px;
  align-items: center;
}

.container header #right-header a {
  font-size: 14px;
  color: black;
  text-decoration: none;
  display: inline-block;
  padding-right: 15px;
  opacity: 0.75;
}

#sign_in {
  color: white;
  display: inline-block;
  height: 28px;
  width: 75px;
  background: #4387fd;
  border:2px solid #4387fd;
  font-weight: bold;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #F2F2F2;
  border-top: 1px solid #e4e4e4;
  padding-top: 11px;
  padding-bottom: 0px;
}

#left-footer a {
  text-decoration: none;
  float: left;
  padding-left: 15px;
  font-size: 14px;
  color: black;
  opacity: 0.60;
}

#right-footer a {
  text-decoration: none;
  float: right;
  padding-left: 15px;
  padding-right: 10px;
  font-size: 14px;
  color: black;
  opacity: 0.60;
}